body {
	 background-color: #313131;
}
h1 {
	text-align: center;
	text-transform: uppercase;
	color: #d5d5d5;
	font-family: Impact, Charcoal, sans-serif;
	letter-spacing: 3px;
	font-size: 28px;
}
h2 {
	text-align: center;
	text-transform: uppercase;
	color: #d5d5d5;
	font-family: "Courier New", Courier, monospace;
	letter-spacing: 3px;
	font-size: 26px;
}
p {
	font-family: "Calibri", Calibri, serif;
	font-weight: bold;
	color: #d5d5d5;
	letter-spacing: 2px;
	font-size: 13px;
}
div {
	font-family: "Calibri", Calibri, serif;
	font-weight: bold;
	color: #d5d5d5;
	letter-spacing: 2px;
	font-size: 13px;
}
	
small {
	font-family: "Calibri", Calibri, serif;
	font-weight: bold;
    color: #d5d5d5;
    letter-spacing: 2px;
    font-size: 12px;
}
canvas {
	padding-left: 0;
	padding-right: 0;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
	
a:link {
	font-family: "Calibri", Calibri, serif;
    color: #d5d5d5; 
    background-color: transparent; 
    text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: bold;
}

a:visited {
	font-family: "Calibri", Calibri, serif;
    color: #d5d5d5;
    background-color: transparent;
    text-decoration: none;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: bold;
}

a:hover {
	font-family: "Calibri", Calibri, serif;
    color: #d5d5d5;
    background-color: transparent;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: bold;
}

a:active {
	font-family: "Calibri", Calibri, serif;
    color: #d5d5d5;
    background-color: transparent;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: bold;
}
	
.tooltip {
	font-family: "Calibri", Calibri, serif;
	color: #d5d5d5;
    position: relative;
    display: inline-block;;
}

.tooltip .tooltiptext {
	font-family: "Calibri", Calibri, serif;
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #d5d5d5;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
	font-family: "Calibri", Calibri, serif;
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}		